<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
<style>
    .GFG {
        background-color: white;
        border: 2px solid black;
        color: green;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 10px 30px;
        cursor: pointer;
    }
</style>
</head>
 
<body>
 <div class="login container">
  
  <br>
  <br>
    <form method="post">
     <!-- Main Input For Receiving Query to our ML -->
    
        <a href='decisionpara.html'>
            <button class="GFG">Hai hello</button>
        </a>   <br><br>
        <a href='#'>
            <button class="GFG">Train Model</button>
        </a>     <br><br>
        <a href="#">
            <button class="GFG">Predictions</button>
        </a>   <br><br>
        <a href='#'>
            <button class="GFG">Results</button>
        </a>     
        
        
    </form>
    
  <br>
  <br>
 
</body>
</html>